.vscode/
.idea/
bin/
include/
lib/
lib64
share/

pyvenv.cfg

db.sqlite3

event_planner/__pycache__
polls/__pycache__
event_planner/authentication/__pycache__
event_planner/core/__pycache__
event_planner/authentication/migrations/__pycache__